<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FulFil</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="main-top">
          <div class="main-top__text">
            <h6>Masterklass</h6>
            <h1>
              <span class="span1">&lt;Dasturchi/&gt;</span> bo'lish sirlari
            </h1>
          </div>

          <img src="./imgs/1.png" alt="" />
        </div>

        <div class="main-salom">
          <h3>
            <img src="./imgs/Image.png" alt="" />
            Assalomu alaykum!
          </h3>

          <p>
            Men Komiljon Xamidjonov sizni
            <span class="span2">BEPUL</span> bo'lib o'tadigan masterklass
            kanalimga taklif qilaman!
          </p>
        </div>

        <div class="main-right">
          <img class="img1" src="./imgs/Photo and pattern (1).png" alt="" />
          <img class="img2" src="./imgs/Photo and pattern.png" alt="" />
        </div>

        <div class="main-content">
          <div class="master-class">
            <div class="master-class-top">
              <h3>Masterklassda nimalarni o’rganamiz?</h3>

              <div class="master-class-top__card">
                <img src="./imgs/Image (1).png" alt="" />
                <p>
                  Dasturlashni boshlashda men ko'rgan va siz takrorlamasligingiz
                  kerak bo'lgan <span class="span3">TOP 4ta xato</span>
                </p>
              </div>
              <div class="master-class-top__card">
                <img src="./imgs/Image (2).png" alt="" />
                <p>
                  3 yillik faoliyatim davomida anglab yetgan eng muhim
                  <span class="span3">4 xulosam</span>
                </p>
              </div>
              <div class="master-class-top__card">
                <img src="./imgs/Image (3).png" alt="" />
                <p>
                  Bundan tashqari qanday qilib dasturlash orqali 250 mln so'mlik
                  <span class="span3">"Tracker premier"</span> avtomashinasini
                  sotib olganim haqida bilib olasiz!
                </p>
              </div>
            </div>

            <div class="master-class-bottom">
              <div class="chas">
                <div class="chas-box">
                  <p>Masterklass boshlanish vaqti:</p>
                  <h5>
                    <img src="./imgs/Vector.png" alt="" />
                    3-mart I Soat 20:00
                  </h5>
                </div>
              </div>

              <button class="btn">Ishtirok etish</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-box">
      <div class="form">
        <i class="fa-solid fa-x"></i>
        <h3><span>Ishtirok</span> etish</h3>

        <form action="/" method="post">
          <label>Ismingiz</label>
          <input
            name="name"
            type="text"
            placeholder="Ismingizni kiriting"
          /><br /><br />

          <label>Telefon raqamingiz</label>
          <input
            name="phone"
            type="text"
            placeholder="Telefon raqamingizni kirting"
            value="+998"
          />

          <button type="submit">Ishtirok etish</button>
        </form>
      </div>
    </div>

    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "902432187753461");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=902432187753461&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

    <script src="./js/script.js"></script>
  </body>
</html>
