<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="container__two">
      <img class="container__img" src="./imgs/Photo and pattern2.png" alt="" />

      <div class="cards">
        <div class="cards__item">
          <h6>Masterklass</h6>
          <h1><span class="span1">So’ngi</span> qadam!</h1>
          <p>
            Jonli efirga kirish uchun pastdagi tugmani bosib telegram kanalga hoziroq
            <span class="span3">obuna bo'ling.</span>
          </p>

          <div class="chas2">
            <div class="chas-box">
              <p>Vebinar boshlanish vaqti:</p>
              <h5>
                <img src="./imgs/Vector.png" alt="" />
                3-mart I Soat 20:00
              </h5>
            </div>
          </div>

          <a href="https://t.me/+xrY3vOSaDDcyZDYy"
            ><img src="./imgs/Vector (1).png" alt="" /> TELEGRAM KANALGA
            QO'SHILISH</a
          >
        </div>
      </div>
    </div>

  </body>
</html>
